body {
    text-align: center;
}

.carousel-inner img {
    width: 100%;
    height: 600px;
}
.carousel-caption h3{
    text-shadow: 2px 2px black;
}
#imgHeader{
    width: 100%;
    height: 500px;
}
.imgGrid{
    width: 350px;
    height: 200px;
    margin: 2px auto;
}